<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Challenge Handler</title>
</head>
<body>
    <h1>Selamat Datang *Nama*</h1>
    <h3><a href="/challenge/add">Add Challenge</a></h3>
    <table border="1">
        <tr>
            <th>Challenge</th>
            <th>Challenge Code</th>
            <th>Score</th>
            <th>Action</th>
        </tr>
        <%challenges.forEach((el)=>{%>
            <tr>
                <td><%=el.name%></td>
                <td><%=el.challengeCode%></td>
                <td></td>
                <td><a href="/challenge/<%=el.id%>/edit">Edit</a> | <a href="/challenge/<%=el.id%>/delete">Delete</a></td>
            </tr>
        <%})%>
    </table>
    
</body>
</html>