<%- include('partials/header') %> 
<%- include('partials/nav') %> 
<div class="container">
  <br>
  <p class="h2 text-center">Home</p><br>
  <p class="h5 text-center">Ini halaman awal Challenge Organize</p>
</div>
<%- include('partials/footer') %> 